%h1 History of duels
%ul
  - @duels.each do |duel|
    %li= link_to "Duel #{duel.id} - #{duel.fighter1.name} VS #{duel.fighter2.name} - Winner is: #{duel.winner.name}", duel

%div= link_to "Go back", root_path
