%h1 Organize a duel

%div 
  = form_tag(@duel, :method => "post") do
    Choose two fighters that will face each other
    %div 
      Fighter 1:
      = select_tag("fighter1[id]", options_for_select(@fighters)) 

    %div 
      Fighter 2:
      = select_tag("fighter2[id]", options_for_select(@fighters))

    %div
      Select equipments that the two fighters will use:
      - @equipments.each do |equipment|
        = equipment[0]
        = check_box_tag "equipment_ids[]", equipment[1]

    %div= submit_tag("Go!")

%div= link_to "Go back", root_path
