%h1 Information Fighter

= form_with model: @fighter do |form|
  %div
    = form.label :name
    = form.text_field :name
    - @fighter.errors.full_messages_for(:name).each do |message|
      %div= message

  %div
    = form.label :health
    = form.text_field :health
    - @fighter.errors.full_messages_for(:health).each do |message|
      %div= message

  %div
    = form.label :attack
    = form.text_field :attack
    - @fighter.errors.full_messages_for(:attack).each do |message|
      %div= message

  %div
    = form.submit

= link_to "Go back", fighters_path
